.orders-info-table thead tr{
    background: lightblue;
}

.orders-info-table tr td{
    width: 300px;
    text-align: center;
    border: 2px solid black;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

