<ion-header>
  <ion-toolbar>
    <ion-title>
      Добавления товара
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)=" toback()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" (ngSubmit)="addOrder()">
    <ion-list>
      <ion-item>
        <ion-label>Order name:</ion-label>
        <ion-input name="name" type="text" [(ngModel)]="data.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Тип услуги</ion-label>
        <ion-select [(ngModel)]="data.service_type" name="service_type">
          <ion-option value="Химчистка">Химчистка</ion-option>
          <ion-option value="Реставрация">Реставрация</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Тип вещи</ion-label>
        <ion-select [(ngModel)]="data.clothe_type" name="clothe_type">
          <ion-option value="Джинсы">Джинсы</ion-option>
          <ion-option value="Футболка">Футболка</ion-option>
          <ion-option value="Cвадебное платье">Cвадебное платье</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Способ оплаты</ion-label>
        <ion-select [(ngModel)]="data.pay_type" name="pay_type">
          <ion-option value="Наличные">Наличные</ion-option>
          <ion-option value="Visa/MasterCard">Visa/MasterCard</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div padding>
        <button ion-button color="primary" block>Отправить</button>
    </div>
  </form>
</ion-content>
